CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Optional
HF_TOKEN=hf_your_token
CLOUDINARY_FOLDER=garments
MAX_CONTENT_MB=16
CORS_ALLOW_ORIGINS=*
GDRIVE_MODEL_FILE_ID=1oZhdDnXcQs5Oy84z1AqxoGV9GxEVKUbH
