torch>=2.1.0
torchvision>=0.16.0
accelerate>=0.31.0
diffusers>=0.29.0
huggingface_hub>=0.25.0
matplotlib>=3.9.0
numpy>=1.26.0
opencv_python>=4.10.0
pillow>=10.3.0
PyYAML>=6.0.0
scipy>=1.13.0
setuptools>=60.0.0
scikit-image>=0.24.0
tqdm>=4.66.0
transformers>=4.41.0
fvcore>=0.1.5
cloudpickle>=3.0.0
omegaconf>=2.3.0
pycocotools>=2.0.0
av>=12.3.0
gradio>=4.44.0
spaces>=0.32.0
jedi>=0.16.0
safetensors>=0.4.0
opencv-contrib-python>=4.8.0
